.row{
    width: 50%;
    height: 500px;
    background-color: grey;
    display: flex ;
    align-items: center;
    /* justify-content: space-around; */

    justify-content: right;
    /* left;
     right;
    space-evenly;
    space-between; 
    space-around;
    align-items*/
}
.col{
    width: 100px;
    height: 300px;
    background-color: rgb(190, 45, 45);
    border: indigo solid 2px;}